$warning: #ffe600;


@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap");

body {
  font-family: "Neucha", sans-serif;
  background-image: url("../../img/blob1.svg");
  background-repeat: no-repeat;
  background-position: relative;
  background-attachment: fixed;
  background-size: 100%;
}

body.blob1 {
  background-image: url("../../img/blob1.svg");
}
body.blob2 {
  background-image: url("../../img/blob2.svg");
}
body.blob3 {
  background-image: url("../../img/blob3.svg");
}
body.blob4 {
  background-image: url("../../img/blob4.svg");
}

h2 {
  font-family: "Cabin Sketch", cursive;
}

.card {
  position: relative;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  color: beige;
  border: 0px;
  font-size: large;
  align-content: space-between;
  z-index: 1;
  text-shadow:
  -1px -1px 0 black,  /* Sombra hacia la izquierda y arriba */
  1px -1px 0 black,   /* Sombra hacia la derecha y arriba */
  -1px 1px 0 black,   /* Sombra hacia la izquierda y abajo */
  1px 1px 0 black; 
}

.card-row {
  justify-content: space-evenly;
}


.btn-warning {
  border: 1px, solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0.2rem 0.2rem 0 #ffe600;
}

.svg-button {
  background-color: transparent;
  border: 0px;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 50%;
}

.img {
  width: 4rem;
  height: 4rem;
}

